// 主题色
$--fan-BRAND: #1ba4a1;  // 蓝绿色

// 背景色
$--bg-BLACK: #000000;    // 黑色
$--bg-GREY: #f1f5f8;    // 灰色
$--bg-WHITE: white; // 白色

// 文本色
$--text-GREY: rgb(144, 144, 144);   // 灰色
$--text-LIGHTGREY: #c8c8c8; // 浅灰色

// 线框色
$--border-GREY: #d9e3ea;    // 灰色

// 阴影色
$--shadow-GREY: #d4dee6;    // 灰色